<section class="page_404 pt-3">
  <div class="w-[80%] mx-auto">
    <div class="text-center">
      <div class="md:w-1/2 w-[80%] mx-auto">
        <img src="/images/error.svg" alt="error" class="w-full" />
      </div>
      <div class="contant_box_404 mt-10">
        <h2>Look like you're lost</h2>

        <h3 class="capitalize mb-4">
          the page you are looking for not avaible!
        </h3>

        <a
          routerLink="/home"
          class="link_404 bg-green-500 border border-green-500 rounded-md py-2 px-3 capitalize font-medium"
          >back to Home</a
        >
      </div>
    </div>
  </div>
</section>
