<section class="py-3">
  <div class="w-[95%] lg:w-[80%] mx-auto bg-gray-50 shadow border rounded py-4">
    <!-- ?Forgot password form -->
    @if (step === 1) {
    <div class="pt-3">
      <h2
        class="text-2xl text-center text-green-600 font-medium md:text-[42px]"
      >
        Forgot Password
      </h2>

      <form
        class="pt-4"
        [formGroup]="verifyEmail"
        (ngSubmit)="forgotPassword()"
      >
        <div class="mt-2 relative w-[80%] md:w-1/2 mx-auto">
          <label
            for="email"
            class="block mb-2 text-base font-medium text-gray-900"
            >Email:</label
          >

          <input
            formControlName="email"
            type="email"
            id="email"
            class="bg-white border border-gray-300 text-gray-900 text-base placeholder:text-gray-600 rounded-lg focus:ring-green-400 focus:border-green-400 block w-full p-2.5 ps-8"
            placeholder="Email"
          />
          <span class="absolute start-0 ms-3 text-sm icon top-[57%]">
            <i class="fa-regular fa-envelope fa-1"></i>
          </span>
        </div>
        @let emailControl = verifyEmail.get('email') ; @if (emailControl?.errors
        && emailControl?.touched) {
        <div
          class="p-3 mt-1 text-[13px] font-semibold text-red-800 border border-red-300 rounded-lg bg-red-100 w-[80%] md:w-1/2 mx-auto flex"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 ms-2">
              @if (emailControl?.getError("required")) {
              <li>Email Is Required</li>
              } @else if (emailControl?.getError("email")) {
              <li>Email Not Valid</li>
              }
            </ul>
          </div>
        </div>
        }

        <button
          type="submit"
          [disabled]="verifyEmail.invalid"
          class="btn-main mx-auto block mt-5"
        >
          Verify Email <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </button>
      </form>
    </div>
    }

    <!-- ?verify Code form -->
    @else if (step === 2) {
    <div class="pt-3">
      <h2
        class="text-2xl text-center text-green-600 font-medium md:text-[42px]"
      >
        Verify Your Email
      </h2>

      <form class="pt-4" [formGroup]="verifyCode" (ngSubmit)="verifyRestCode()">
        <div class="mt-2 relative w-[80%] md:w-1/2 mx-auto">
          <label
            for="reset code"
            class="block mb-2 text-base font-medium text-gray-900"
            >Reset Code:</label
          >

          <input
            formControlName="resetCode"
            type="text"
            id="reset code"
            class="bg-white border border-gray-300 text-gray-900 text-base placeholder:text-gray-600 rounded-lg focus:ring-green-400 focus:border-green-400 block w-full p-2.5 ps-8"
            placeholder="Reset Code"
          />
          <span class="absolute start-0 ms-3 text-sm icon top-[57%]">
            <i class="fa-solid fa-barcode"></i>
          </span>
        </div>
        @let codeControl = verifyCode.get('resetCode') ; @if
        (codeControl?.errors && codeControl?.touched) {
        <div
          class="p-3 mt-1 text-[13px] font-semibold text-red-800 border border-red-300 rounded-lg bg-red-100 w-[80%] md:w-1/2 mx-auto flex"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 ms-2">
              @if (codeControl?.getError("required")) {
              <li>Reset Code Is Required</li>
              } @else if (codeControl?.getError("pattern")) {
              <li>Reset Code Not Valid</li>
              }
            </ul>
          </div>
        </div>
        }

        <button
          type="submit"
          [disabled]="verifyCode.invalid"
          class="btn-main mx-auto block mt-5"
        >
          Verify Reset Code <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </button>
      </form>
    </div>
    }

    <!-- ?reset password form -->
    @else if (step === 3) {
    <div class="pt-3">
      <h2
        class="text-2xl text-center text-green-600 font-medium md:text-[42px]"
      >
        Reset New Password
      </h2>

      <form
        class="pt-4"
        [formGroup]="resetPassword"
        (ngSubmit)="resetNewPassword()"
      >
        <div class="mt-2 relative w-[80%] md:w-1/2 mx-auto">
          <label
            for="email"
            class="block mb-2 text-base font-medium text-gray-900"
            >Email:</label
          >

          <input
            formControlName="email"
            type="email"
            id="email"
            readonly
            class="bg-white border border-gray-300 text-gray-900 text-base placeholder:text-gray-600 rounded-lg focus:ring-green-400 focus:border-green-400 block w-full p-2.5 ps-8"
            placeholder="Email"
          />
          <span class="absolute start-0 ms-3 text-sm icon top-[57%]">
            <i class="fa-regular fa-envelope fa-1"></i>
          </span>
        </div>
        @let reEmailControl = resetPassword.get('email') ; @if
        (reEmailControl?.errors && reEmailControl?.touched) {
        <div
          class="p-3 mt-1 text-[13px] font-semibold text-red-800 border border-red-300 rounded-lg bg-red-100 w-[80%] md:w-1/2 mx-auto flex"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 ms-2">
              @if (reEmailControl?.getError("required")) {
              <li>Email Is Required</li>
              } @else if (reEmailControl?.getError("email")) {
              <li>Email Not Valid</li>
              }
            </ul>
          </div>
        </div>
        }

        <div class="mt-5 relative w-[80%] md:w-1/2 mx-auto">
          <label
            for="newpassword"
            class="block mb-2 text-base font-medium text-gray-900"
            >New Password:</label
          >

          <input
            formControlName="newPassword"
            type="password"
            id="newpassword"
            class="bg-white border border-gray-300 text-gray-900 text-base placeholder:text-gray-600 rounded-lg focus:ring-green-400 focus:border-green-400 block w-full p-2.5 ps-8"
            placeholder="New Password"
          />
          <span class="absolute start-0 ms-3 text-sm icon top-[57%]">
            <i class="fa-solid fa-lock fa-1"></i>
          </span>
        </div>
        @let passwordControl = resetPassword.get('newPassword') ; @if
        (passwordControl?.errors && passwordControl?.touched) {
        <div
          class="p-3 mt-1 text-[13px] font-semibold text-red-800 border border-red-300 rounded-lg bg-red-100 w-[80%] md:w-1/2 mx-auto flex"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 ms-2">
              @if (passwordControl?.getError("required")) {
              <li>Password Is Required</li>
              } @else if (passwordControl?.getError("pattern")) {
              <li>
                Must start with an Uppercase letter and be at least 8 Chars.
              </li>
              }
            </ul>
          </div>
        </div>
        }

        <button
          type="submit"
          [disabled]="resetPassword.invalid"
          class="btn-main mx-auto block mt-5"
        >
          Reset Password
        </button>
      </form>
    </div>
    }
  </div>
</section>
