<footer class="bg-[#151414] pt-12 text-[#757575]">
  <div class="w-[90%] grid md:grid-cols-3 gap-7 mx-auto pb-10">
    <div class="pe-8">
      <div>
        <img src="/images/logo.png" alt="freshcart-logo" class="w-1/2 block" />
      </div>
      <p class="py-5">
        Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do
        eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum
        dolor sit amet.
      </p>
      <h3 class="text-white font-semibold text-2xl pb-4">Follow us</h3>
      <div class="flex text-lg items-center gap-4">
        <span
          class="w-[40px] h-[40px] rounded-full bg-[#1e0599] text-white block relative"
          ><i class="fa-brands fa-facebook-f icon"></i
        ></span>
        <span
          class="w-[40px] h-[40px] rounded-full bg-[#cb0696] text-white block relative"
          ><i class="fa-brands fa-instagram text-center icon"></i
        ></span>
        <span
          class="w-[40px] h-[40px] rounded-full bg-[#3580e8] text-white block relative"
          ><i class="fa-brands fa-twitter icon"></i
        ></span>
      </div>
    </div>
    <div>
      <h2 class="text-white font-medium text-2xl link relative">
        Useful Links
      </h2>
      <div class="grid grid-cols-2 gap-4 pt-4">
        <ul>
          <li class="capitalize hover:text-[#0AAD0A] py-1">home</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">services</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">Contact</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">our services</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">Contact us</li>
        </ul>
        <ul>
          <li class="capitalize hover:text-[#0AAD0A] py-1">about</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">portfolio</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">About us</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">Expert Team</li>
          <li class="capitalize hover:text-[#0AAD0A] py-1">Latest News</li>
        </ul>
      </div>
    </div>
    <div class="pe-10">
      <h2 class="text-white font-medium text-2xl link relative">Subscribe</h2>
      <p class="py-4">
        Don’t miss to subscribe to our new feeds, kindly fill the form below.
      </p>
      <div class="subscribe-form relative overflow-hidden">
        <div>
          <input
            type="text"
            placeholder="Email Address"
            class="w-full text-white"
          />
          <button class="absolute end-0 top-0">
            <i class="fab fa-telegram-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="py-6 px-12 bg-[#202020]">
    <div
      class="grid md:grid-cols-2 justify-around items-center mx-auto w-[85%]"
    >
      <p>
        Copyright © Mar1,2025 All Right Reserved<a
          href="https://www.linkedin.com/in/aya-raafat-77b747235"
          class="font-bold text-[#0AAD0A] ps-2"
          >Aya Raafat</a
        >
      </p>
      <ul class="gap-4 hidden md:flex justify-self-end">
        <li class="capitalize hover:text-[#0AAD0A] py-1">home</li>
        <li class="capitalize hover:text-[#0AAD0A] py-1">Terms</li>
        <li class="capitalize hover:text-[#0AAD0A] py-1">Privacy</li>
        <li class="capitalize hover:text-[#0AAD0A] py-1">Policy</li>
        <li class="capitalize hover:text-[#0AAD0A] py-1">Contact</li>
      </ul>
    </div>
  </div>
</footer>
