/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



.btn-main{
    @apply disabled:hover:bg-green-600 disabled:cursor-not-allowed bg-green-600 text-white py-2 px-6 rounded-md border outline-none border-green-500 hover:bg-green-500 transition-all
}
::selection{
    background-color: rgb(46, 181, 95);
    color: #fff;
}

h1,h2,h3,h4,h5,h6
{
    font-family: "Rubik", serif;
}